@keyframes slide-down {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  
  .animate-slide-down {
    animation: slide-down 1s ease-in-out forwards;
  }