@keyframes slide-down {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
  .translate-x-full {
    transform: translateX(-100%);
    opacity: 0;
  }
  .box-shadow{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .box-full{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .back-white{
    background-color: white;
  }
  
  @media screen and (max-width: 768px) {
    .date-range {
      width: 320px;
      height: 200px;
      
    }
    .date-picker-container {
      width: 80%; /* Adjust container width as needed */
    }
    .text {
      font-size: 2px;
    }
  }
  
  /* Medium screens */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .date-range {
      width: 320px;
      height: 200px;
    }
  }
  
  /* Large screens */
  @media screen and (min-width: 1025px) {
    .date-range {
      width: 450px;
      height: 290px;
    }
  }
  .ant-picker-suffix {
    display: none !important;
  }
  .ant-picker-input {
    font-weight: 600 !important;  
    width: 40% !important;
  }
  .ant-picker-input input::placeholder{
    color: black !important;
    font-size: 15px !important;
  }
 .box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }
 .dropdown-container {
    position: relative;
  }
  
  .toggle-button {
    /* CSS cho nút toggle */
  }
  
  .dropdown-content {
    position: absolute;
    top: 0;
    right: -100%; /* Đặt right thành -100% để ẩn dropdown bên phải */
    width: 200px; /* Độ rộng của dropdown */
    background-color: #fff; /* Màu nền của dropdown */
    padding: 10px;
    transition: right 0.3s ease-in-out; /* Hiệu ứng chuyển động */
  }
  
  .dropdown-container:hover .dropdown-content {
    right: 0; /* Khi hover lên dropdown-container, hiển thị dropdown bên phải */
  }
  .slick-slide .hay {
    height: 450px;
  }
  html, body {
    scroll-behavior: smooth;
  }





